# Core ignore rules
node_modules
dist
.env
.DS_Store
Thumbs.db
.vscode

# Vite & React build cache
.cache
*.log

# Visual Studio / Windows junk
.vs
*.vsidx
*.user
*.suo

# OS temp
$RECYCLE.BIN/
*.tmp
